/* src/components/HomePage.css */

.custom-container {
  max-width: 800px;
  margin: 0 auto;
}

.custom-header {
  background-color: #001f3f; /* Updated background color */
  color: #ffffff;
  padding: 40px;
  border-radius: 10px;
  text-align: center;
}

.custom-header h1 {
  font-size: 2.5rem;
}

.custom-header p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.custom-header button {
  font-size: 1.2rem;
  padding: 10px 20px;
}

.bg-color {
    color:#ffffff
  }